<% include ../partials/header %>
	<% include ../partials/navbar %>

	<!-- BLOG -->
	<div id="blog">
		<div class="card card-body bg-primary text-white py-5">
			<h2>Blog</h2>
		</div>
		<div class="row">
			<div class="col text-center bg-white py-5 mx-3">
				<img src="/img/coming.soon.jpg" style="width: 200px;" alt="">
			</div>
		</div>
		<iframe src="//chenz.online/course.projects/blogen/index.html" width="100%" height="1000px"></iframe>

		<!-- BLOG FOOTER -->
		<footer id="blog-footer">
			<div class="container">
				<div class="row bg-primary py-3">
					<div class="col text-center text-white">
						<div class="pt-3">
							<p>Copyright&copy; 2017</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- /BLOG -->

		<% include ../partials/footer %>
