
		<footer id="main-footer" class="footer">
			<div class="container">
				<span class="text-muted">Copyright&copy; 2017</span>
			</div>
		</footer>

	</div> <!-- /PAGE CONTAINER-->

	<script src="/js/jquery.v3.2.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.v4.0.0-beta.min.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>
