<!-- HEADER -->
<header id="main-header">
	<div class="row no-gutters">
		<div class="col-md-5 col-lg-4">
			<a href="/"><img src="/img/myLogo.black.jpg" class="img-fluid"></a>
		</div>
		<div class="col-md-7 col-lg-8">
			<div class="d-flex flex-column">
				<div class="p-5 d-none d-md-block">
					<div class="d-flex flex-row justify-content-between align-items-center text-warning">
						<h1 class="display-4">Vincent Porter</h1>
						<div><a href="mailto:vince@porter-online.com"><i class="text-warning fa fa-envelope"></i></a></div>
						<div><a href="https://www.facebook.com/04888chenz" target="_blank"><i class="px-1 text-warning fa fa-facebook"></i></a></div>
						<div><a href="https://plus.google.com/u/0/118441776967161706726" target="_blank"><i class="px-1 text-warning fa fa-google"></i></a></div>
						<div><a href="https://github.com/Chenz62" target="_blank"><i class="text-warning fa fa-github"></i></a></div>
					</div>
				</div>
				<div class="p-4 text-center text-warning">
					<h3>Full Stack Web Developer</h3>
				</div>

				<!-- NAVBAR -->
				<div>
					<div class="d-flex flex-row text-white align-items-stretch text-center">
						<!-- <div class="port-item p-4 bg-warning text-dark"> -->
							<a class="port-item p-4 bg-warning text-dark" href="/skills"><i class="fa fa-home d-block"></i> Skills</a>
							<a class="port-item p-4 bg-success text-light" href="/courses"><i class="fa fa-graduation-cap d-block"></i> Course Projects</a>
							<a class="port-item p-4 bg-dark text-light" href="/portfolio"><i class="fa fa-folder-open d-block"></i> Portfoliio</a>
							<a class="port-item p-4 bg-primary text-light" href="/blogs"><i class="fa fa-rss d-block"></i> Blog</a>
							<a class="port-item p-4 bg-danger text-light" href="/contact"><i class="fa fa-envelope d-block"></i> Contact</a>
						<!-- </div> -->
						<!-- <div class="port-item p-4 bg-success" data-toggle="collapse" data-target="#courses">
							<i class="fa fa-graduation-cap d-block"></i> Course Projects
						</div> -->
						<!-- <div class="port-item p-4 bg-dark" data-toggle="collapse" data-target="#portfolio">
							<i class="fa fa-folder-open d-block"></i> Portfoliio
						</div> -->
						<!-- <div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#blog">
							<i class="fa fa-rss d-block"></i> Blog
						</div> -->
						<!-- <div class="port-item p-4 bg-danger" data-toggle="collapse" data-target="#contact">
							<i class="fa fa-envelope d-block"></i> Contact
						</div> -->
					</div>
				</div>
				<!-- /NAVBAR -->

			</div>
		</div>
	</div>
</header>
<!-- /HEADER -->
