<% include ../partials/header %>
	<% include ../partials/navbar %>

	<!-- COURSE PROJECTS -->
	<div id="courses">
		<div class="card card-body bg-success text-white py-5">
			<h2>Course Pojects!</h2>
			<!-- <p class="lead">Here are some of my course projects.</p> -->
		</div>
		<div class="card card-body py-5">
			<div class="row text-center">

				<!-- Portfoligrid -->
				<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="card my-2">
						<img src="img/courses/portfoligrid.png" alt="" class="card-img-top">
						<div class="card-body">
							<h4 class="card-title text-success">Portfoligrid</h4>
							<p class="p-1">Bootstrap 4 From Scratch<br><small class="text-muted">October 2017</small></p>
						</div>
						<div class="card-footer">
							<a href="//chenz.online/course.projects/portfoligrid/index.html" class="btn btn-outline-success btn-lg btn-block" target="_blank">Go To The Site</a>
						</div>
					</div>
				</div>

				<!-- Glozzom -->
				<div class="col-sm-6 col-md-4 col-lg-3">
					<div class="card my-2">
						<img src="/img/courses/glozzom.png" alt="" class="card-img-top">
						<div class="card-body">
							<h4 class="card-title text-success">Glozzom</h4>
							<p class="p-2 mb-3">Bootstrap 4 From Scratch<br>October 2017</p>
						</div>
						<div class="card-footer">
							<a href="//chenz.online/course.projects/glozzom/index.html" class="btn btn-outline-success btn-lg btn-block" target="_blank">Go To The Site</a>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- COURSE PROJECTS FOOTER -->
		<footer id="course-footer">
			<div class="container">
				<div class="row bg-success py-3">
					<div class="col text-center text-white">
						<div class="pt-3">
							<p>Copyright&copy; 2017</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- /COURSE PROJECTS -->

		<% include ../partials/footer %>
