<% include partials/header %>
	<% include partials/navbar %>

		<!-- CONTACT -->
		<div id="contact">
			<div class="card card-body bg-danger text-white py-5">
				<h2>Contact</h2>
			</div>
			<div class="row">
				<div class="col text-center bg-white py-5 mx-3">
					<img src="/img/coming.soon.jpg" style="width: 200px;" alt="">
				</div>
			</div>

			<footer id="contact-footer">
				<div class="container">
					<div class="row bg-danger py-3">
						<div class="col text-center text-white">
							<div class="pt-3">
								<p>Copyright&copy; 2017</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- /CONTACT -->

		<% include partials/footer %>
