<% include partials/header %>

	<!-- PAGE CONTAINER-->
	<div class="container">
		<!-- HEADER -->
		<header id="main-header">
			<div class="row no-gutters">
				<div class="col-md-5 col-lg-4">
					<img src="/img/myLogo.black.jpg" class="img-fluid">
				</div>
				<div class="col-md-7 col-lg-8">
					<div class="d-flex flex-column">
						<div class="p-5 d-none d-md-block">
							<div class="d-flex flex-row justify-content-between align-items-center text-warning">
								<h1 class="display-4">Vincent Porter</h1>
								<div><a href="mailto:vince@porter-online.com"><i class="text-warning fa fa-envelope"></i></a></div>
								<div><a href="https://www.facebook.com/04888chenz" target="_blank"><i class="px-1 text-warning fa fa-facebook"></i></a></div>
								<div><a href="https://plus.google.com/u/0/118441776967161706726" target="_blank"><i class="px-1 text-warning fa fa-google"></i></a></div>
								<div><a href="https://github.com/Chenz62" target="_blank"><i class="text-warning fa fa-github"></i></a></div>
							</div>
						</div>
						<div class="p-4 text-center text-warning">
							<h3>Full Stack Web Developer</h3>
						</div>

						<!-- NAVBAR -->
						<div>
							<div class="d-flex flex-row text-white align-items-stretch text-center">
								<div class="port-item p-4 bg-warning text-dark" data-toggle="collapse" data-target="#skills">
									<i class="fa fa-home d-block"></i> Skills
								</div>
								<div class="port-item p-4 bg-success" data-toggle="collapse" data-target="#courses">
									<i class="fa fa-graduation-cap d-block"></i> Course Projects
								</div>
								<div class="port-item p-4 bg-dark" data-toggle="collapse" data-target="#portfolio">
									<i class="fa fa-folder-open d-block"></i> Portfoliio
								</div>
								<div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#blog">
									<i class="fa fa-rss d-block"></i> Blog
								</div>
								<div class="port-item p-4 bg-danger" data-toggle="collapse" data-target="#contact">
									<i class="fa fa-envelope d-block"></i> Contact
								</div>
							</div>
						</div>
						<!-- /NAVBAR -->

					</div>
				</div>
			</div>
		</header>
		<!-- /HEADER -->

		<!-- SKILLS -->
		<div id="skills" class="collapse">
			<div class="card card-body bg-warning py-5">
				<h2>Skill Levels</h2>
			</div>

			<div class="card card-body py-5">
				<div class="d-flex flex-column">

					<!-- HTML5 -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right">
							<h6>HTML <i class="fa fa-html5"></i></h6>
						</div>
						<div class="col-1 d-none d-md-block">
							<img src="/img/html5.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 95%; height: 30px;">
									<h4>95%</h4>
								</div>
							</div>
						</div>
					</div>

					<!-- CSS3 -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right">
							<h6>CSS <i class="fa fa-css3"></i></h6>
						</div>
						<div class="col-1 d-none d-md-block">
							<img src="/img/css3.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 95%; height: 30px;">
									<h4>95%</h4>
								</div>
							</div>
						</div>
					</div>

					<!-- Sass & Less -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right d-block d-md-none">
							<h6>Sass Less</h6>
						</div>
						<div class="col-md-3 d-none d-md-block text-right">
							<img class="sass-less" src="/img/sass-less.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 30%; height: 30px;">
									<h4>30%</h4>
								</div>
							</div>
						</div>
					</div>

					<!-- Bootstrap v4.0.0-beta -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right">
							<h6>Bootstrap <span class="d-block d-md-none">Version 4</span></h6>
						</div>
						<div class="col-1 d-none d-md-block">
							<img src="/img/bootstrap-4.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 80%; height: 30px;">
									<h4>80%</h4>
								</div>
							</div>
						</div>
					</div>

					<!-- JavaScript -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right">
							<h6>JavaScript</h6>
						</div>
						<div class="col-1 d-none d-md-block">
							<img src="/img/js.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 90%; height: 30px;">
									<h4>90%</h4>
								</div>
							</div>
						</div>
					</div>

					<!-- PHP and mySQL -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right d-block d-md-none">
							<h6>PHP & mySQL</h6>
						</div>
						<div class="col-md-3 d-none d-md-block text-right">
							<img class="sass-less" src="/img/php-mysql.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 60%; height: 30px;">
									<h4>60%</h4>
								</div>
							</div>
						</div>
					</div>

					<!-- NodeJS & MongoDB -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right d-block d-md-none">
							<h6>NodeJS & MongoDB</h6>
						</div>
						<div class="col-md-3 d-none d-md-block text-right">
							<img src="/img/node-mongo.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 85%; height: 30px;">
									<h4>85%</h4>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- SKILLS FOOTER -->
			<footer id="home-footer">
				<div class="container">
					<div class="row bg-warning py-3">
						<div class="col text-center">
							<div class="pt-3">
								<p>Copyright&copy; 2017</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- /SKILLS -->

		<!-- COURSE PROJECTS -->
		<div id="courses" class="collapse">
			<div class="card card-body bg-success text-white py-5">
				<h2>Course Pojects!</h2>
				<!-- <p class="lead">Here are some of my course projects.</p> -->
			</div>
			<div class="card card-body py-5">
				<div class="row text-center">

					<!-- Portfoligrid -->
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="card my-2">
							<img src="img/courses/portfoligrid.png" alt="" class="card-img-top">
							<div class="card-body">
								<h4 class="card-title text-success">Portfoligrid</h4>
								<p class="p-1">Bootstrap 4 From Scratch<br><small class="text-muted">October 2017</small></p>
							</div>
							<div class="card-footer">
								<a href="//chenz.online/course.projects/portfoligrid/index.html" class="btn btn-outline-success btn-lg btn-block" target="_blank">Go To The Site</a>
							</div>
						</div>
					</div>

					<!-- Glozzom -->
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="card my-2">
							<img src="/img/courses/glozzom.png" alt="" class="card-img-top">
							<div class="card-body">
								<h4 class="card-title text-success">Glozzom</h4>
								<p class="p-2 mb-3">Bootstrap 4 From Scratch<br>October 2017</p>
							</div>
							<div class="card-footer">
								<a href="//chenz.online/course.projects/glozzom/index.html" class="btn btn-outline-success btn-lg btn-block" target="_blank">Go To The Site</a>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- COURSE PROJECTS FOOTER -->
			<footer id="course-footer">
				<div class="container">
					<div class="row bg-success py-3">
						<div class="col text-center text-white">
							<div class="pt-3">
								<p>Copyright&copy; 2017</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- /COURSE PROJECTS -->

		<!-- PORTFOLIO -->
		<div id="portfolio" class="collapse">
			<div class="card card-body bg-dark text-light py-5">
				<h2>My Portfolio!</h2>
			</div>
			<div class="card card-body py-5">
				<div class="row text-center">

					<!-- Marrickville Golf Club -->
					<div class="col-sm-6 col-md-4">
						<div class="card my-2">
							<div class="card-body">
								<h4 class="card-title text-dark">Marrickville Golf Club</h4>
								<img src="/img/portfolio/mgscc.png" alt="" class="card-img mb-3">
								<p class="p-2 mb-3">2011</p>
							</div>
							<div class="card-footer">
								<a href="//chenz.online/portfolio/mgscc/index.html" class="btn btn-outline-dark btn-lg btn-block" target="_blank">Go To The Site</a>
								<small class="text-muted">Archived</small>
							</div>
						</div>
					</div>

					<!-- Sticky-Media -->
					<div class="col-sm-6 col-md-4">
						<div class="card my-2">
							<div class="card-body">
								<h4 class="card-title text-dark">Sticky-Media</h4>
								<img src="/img/portfolio/sticky-media.png" alt="" class="card-img mb-3">
								<p class="p-2 mb-3">2008 - 2009</p>
							</div>
							<div class="card-footer">
								<a href="//chenz.online/portfolio/sticky-media/index.html" class="btn btn-outline-dark btn-lg btn-block" target="_blank">Go To The Site</a>
								<small class="text-muted">Archived</small>
							</div>
						</div>
					</div>

					<!-- Antonio's Echuca -->
					<div class="col-sm-6 col-md-4">
						<div class="card my-2">
							<div class="card-body">
								<h4 class="card-title text-dark">Antonio's Echuca</h4>
								<img src="/img/portfolio/antonios.png" alt="" class="card-img mb-3">
								<p class="p-2 mb-3">2005</p>
							</div>
							<div class="card-footer">
								<a href="//chenz.online/portfolio/antonios/index.html" class="btn btn-outline-dark btn-lg btn-block" target="_blank">Go To The Site</a>
								<small class="text-muted">Archived</small>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- PORTFOLIO FOOTER -->
			<footer id="portfolio-footer">
				<div class="container">
					<div class="row bg-dark py-3">
						<div class="col text-center text-white">
							<div class="pt-3">
								<p>Copyright&copy; 2017</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- /PORTFOLIO -->

		<!-- BLOG -->
		<div id="blog" class="collapse">
			<div class="card card-body bg-primary text-white py-5">
				<h2>Blog</h2>
			</div>
			<div class="row">
				<div class="col text-center bg-white py-5 mx-3">
					<img src="/img/coming.soon.jpg" style="width: 200px;" alt="">
				</div>
			</div>
			<iframe src="//chenz.online/course.projects/blogen/index.html" width="100%" height="1000px"></iframe>

			<!-- BLOG FOOTER -->
			<footer id="blog-footer">
				<div class="container">
					<div class="row bg-primary py-3">
						<div class="col text-center text-white">
							<div class="pt-3">
								<p>Copyright&copy; 2017</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- /BLOG -->

		<!-- CONTACT -->
		<div id="contact" class="collapse">
			<div class="card card-body bg-danger text-white py-5">
				<h2>Contact</h2>
			</div>
			<div class="row">
				<div class="col text-center bg-white py-5 mx-3">
					<img src="/img/coming.soon.jpg" style="width: 200px;" alt="">
				</div>
			</div>

			<footer id="contact-footer">
				<div class="container">
					<div class="row bg-danger py-3">
						<div class="col text-center text-white">
							<div class="pt-3">
								<p>Copyright&copy; 2017</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- /CONTACT -->

		<% include partials/footer %>
