<% include partials/header %>
	<% include partials/navbar %>

	<!-- PORTFOLIO -->
	<div id="portfolio">
		<div class="card card-body bg-dark text-light py-5">
			<h2>My Portfolio!</h2>
		</div>
		<div class="card card-body py-5">
			<div class="row text-center">

				<!-- Marrickville Golf Club -->
				<div class="col-sm-6 col-md-4">
					<div class="card my-2">
						<div class="card-body">
							<h4 class="card-title text-dark">Marrickville Golf Club</h4>
							<img src="/img/portfolio/mgscc.png" alt="" class="card-img mb-3">
							<p class="p-2 mb-3">2011</p>
						</div>
						<div class="card-footer">
							<a href="//chenz.online/portfolio/mgscc/index.html" class="btn btn-outline-dark btn-lg btn-block" target="_blank">Go To The Site</a>
							<small class="text-muted">Archived</small>
						</div>
					</div>
				</div>

				<!-- Sticky-Media -->
				<div class="col-sm-6 col-md-4">
					<div class="card my-2">
						<div class="card-body">
							<h4 class="card-title text-dark">Sticky-Media</h4>
							<img src="/img/portfolio/sticky-media.png" alt="" class="card-img mb-3">
							<p class="p-2 mb-3">2008 - 2009</p>
						</div>
						<div class="card-footer">
							<a href="//chenz.online/portfolio/sticky-media/index.html" class="btn btn-outline-dark btn-lg btn-block" target="_blank">Go To The Site</a>
							<small class="text-muted">Archived</small>
						</div>
					</div>
				</div>

				<!-- Antonio's Echuca -->
				<div class="col-sm-6 col-md-4">
					<div class="card my-2">
						<div class="card-body">
							<h4 class="card-title text-dark">Antonio's Echuca</h4>
							<img src="/img/portfolio/antonios.png" alt="" class="card-img mb-3">
							<p class="p-2 mb-3">2005</p>
						</div>
						<div class="card-footer">
							<a href="//chenz.online/portfolio/antonios/index.html" class="btn btn-outline-dark btn-lg btn-block" target="_blank">Go To The Site</a>
							<small class="text-muted">Archived</small>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- PORTFOLIO FOOTER -->
		<footer id="portfolio-footer">
			<div class="container">
				<div class="row bg-dark py-3">
					<div class="col text-center text-white">
						<div class="pt-3">
							<p>Copyright&copy; 2017</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- /PORTFOLIO -->

		<% include partials/footer %>
