<% include partials/header %>
	<% include partials/navbar %>

		<!-- SKILLS -->
		<div id="skills">
			<div class="card card-body bg-warning py-5">
				<h2>Skill Levels</h2>
			</div>

			<div class="card card-body py-5">
				<div class="d-flex flex-column">

					<!-- HTML5 -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right">
							<h6>HTML <i class="fa fa-html5"></i></h6>
						</div>
						<div class="col-1 d-none d-md-block">
							<img src="/img/html5.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 95%; height: 30px;">
									<h4>95%</h4>
								</div>
							</div>
						</div>
					</div>

					<!-- CSS3 -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right">
							<h6>CSS <i class="fa fa-css3"></i></h6>
						</div>
						<div class="col-1 d-none d-md-block">
							<img src="/img/css3.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 95%; height: 30px;">
									<h4>95%</h4>
								</div>
							</div>
						</div>
					</div>

					<!-- Sass & Less -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right d-block d-md-none">
							<h6>Sass Less</h6>
						</div>
						<div class="col-md-3 d-none d-md-block text-right">
							<img class="sass-less" src="/img/sass-less.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 30%; height: 30px;">
									<h4>30%</h4>
								</div>
							</div>
						</div>
					</div>

					<!-- Bootstrap v4.0.0-beta -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right">
							<h6>Bootstrap <span class="d-block d-md-none">Version 4</span></h6>
						</div>
						<div class="col-1 d-none d-md-block">
							<img src="/img/bootstrap-4.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 80%; height: 30px;">
									<h4>80%</h4>
								</div>
							</div>
						</div>
					</div>

					<!-- JavaScript -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right">
							<h6>JavaScript</h6>
						</div>
						<div class="col-1 d-none d-md-block">
							<img src="/img/js.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 90%; height: 30px;">
									<h4>90%</h4>
								</div>
							</div>
						</div>
					</div>

					<!-- PHP and mySQL -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right d-block d-md-none">
							<h6>PHP & mySQL</h6>
						</div>
						<div class="col-md-3 d-none d-md-block text-right">
							<img class="sass-less" src="/img/php-mysql.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 60%; height: 30px;">
									<h4>60%</h4>
								</div>
							</div>
						</div>
					</div>

					<!-- NodeJS & MongoDB -->
					<div class="py-2 d-flex flex-row justify-content-between align-items-center">
						<div class="col-sm-3 col-md-2 text-center text-md-right d-block d-md-none">
							<h6>NodeJS & MongoDB</h6>
						</div>
						<div class="col-md-3 d-none d-md-block text-right">
							<img src="/img/node-mongo.png" alt="">
						</div>
						<div class="col-9">
							<div class="progress my-3">
								<div class="progress-bar bg-warning text-dark" style="width: 85%; height: 30px;">
									<h4>85%</h4>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- SKILLS FOOTER -->
			<footer id="home-footer">
				<div class="container">
					<div class="row bg-warning py-3">
						<div class="col text-center">
							<div class="pt-3">
								<p>Copyright&copy; 2017</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- /SKILLS -->

		<% include partials/footer %>
